body{
    overflow-x: hidden;
}
.ml
{
    margin-left: 150px;
}
.ml2
{
    margin-left: 100px;
}
.p1
{
    margin-left: 70px;
    padding-bottom: 80px;
}
.img1{
    min-height: 18rem;
    min-width: 15rem;
}
.col .card:hover {
    transform: scale(1.1);
}
.col .card
{
    text-align: center;
}
.p2 
{
  margin-left: 30px;
  background-color:darkcyan;
  padding-bottom: 20px;
}